@page "/user-info"
@using KindeAuthentication
@rendermode InteractiveServer
@* @attribute [Authorize(Roles="MyKindeRoleName")] *@
@* @attribute [Authorize(Policy=Permissions.MyPermissionName)]  *@
@inject BlazorServerUserAccessor UserAccessor

<PageTitle>User Information</PageTitle>

<h1>User Information</h1>

<p role="status">Shows information about the currently logged in user</p>

<p>User Id: @User?.Id</p>
<p>Username: @User?.UserName</p>
<p>Email: @User?.Email</p>
<p>First name: @User?.GivenName</p>
<p>Last name: @User?.FamilyName</p>
<p>Picture: @User?.Picture</p>

@code{

    private KindeUser? User { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        User = await UserAccessor.GetCurrentUserAsync();
    }
}